* {
    padding: 0;
    margin: 0;
}


.flex-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    /* border: 5px solid blue; */
    flex-direction: column;
    text-align: center;
}

.flex-item {
    background-color: burlywood;
    font-weight: bolder;
    border: 0.1px solid black;
    align-items: stretch;
    flex: 1;
    min-width: 33.33%;
}

.flex-main {
    flex: 6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
}

.note:active {
    flex: 4;
    background-color: brown;
    color: aliceblue;
    min-height: 30vh;
}

.note:active::after {
    content: attr(title);
}


header {
    font-size: 50px;
    font-weight: bolder;
}